html, body {
  position: relative;
  height: 100%;
  background: black;
  font-family: 'Roboto', sans-serif;
}

canvas {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  letter-spacing: 2px;
  font-size: 12px;
  bottom: 70px;
  text-align: center;
}
