html, body {
  position: relative;
  height: 100%;
  background: black;
}

#landscape {
  position: relative;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.bot {
  position: absolute;
  background: white;
}
